
@{
    ViewBag.Title = "Ventas Realizadas";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<script src="~/Scripts/Venta/ClsVenta.js"></script>
<h2 class="TituloPagina">CONSULTA DE VENTAS REALIZADAS <i class="fa fa-archive"></i></h2>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="from-group from-group-margin">
                @Html.Label("fFechaInicial", "Fecha de Inicio", new { @class = "col-sm col-form-label" })
                @Html.TextBox("fFechaInicial", null, new { @class = "form-control datetimepicker", autocomplete = "off" })
            </div>
        </div>
        <div class="col">
            <div class="from-group from-group-margin">
                @Html.Label("fFechaFinal", "Fecha de Final", new { @class = "col-sm col-form-label" })
                @Html.TextBox("fFechaFinal", null, new { @class = "form-control datetimepicker", autocomplete = "off" })
            </div>
        </div>
        <div class="col-sm-12">
            <button type="button" id="Consulta" class="btn btn-primary">Consultar</button>
            <br />
            <br />
            <table id="VentasTotales" class="table display nowrap" cellspacing="0" width="100%">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Folio de Operacion</th>
                        <th scope="col">Fecha de Operacion</th>
                        <th scope="col">Nombre de Usuario</th>
                        <th scope="col">Importe Entregado</th>
                        <th scope="col">Importe Cambio</th>
                        <th scope="col">Importe Neto</th>
                        <th scope="col">Estatus</th>
                    </tr>
                </thead>
                <tfoot class="thead-dark">
                    <tr>
                        <th scope="col">Folio de Operacion</th>
                        <th scope="col">Fecha de Operacion</th>
                        <th scope="col">Nombre de Usuario</th>
                        <th scope="col">Importe Entregado</th>
                        <th scope="col">Importe Cambio</th>
                        <th scope="col">Importe Neto</th>
                        <th scope="col">Estatus</th>
                    </tr>
                </tfoot>
            </table>
            <hr class="my-4">
            <div id="ContVentas">
                <h2>Detalle de Venta</h2>
                <table id="Ventas" class="table display nowrap" cellspacing="0" width="100%">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Folio de Operacion</th>
                            <th scope="col">Nombre de Producto</th>
                            <th scope="col">Cantidad de Producto</th>
                            <th scope="col">Precio Unitario</th>
                            <th scope="col">Importe de Producto</th>
                        </tr>
                    </thead>
                    <tfoot class="thead-dark">
                        <tr>
                            <th scope="col">Folio de Operacion</th>
                            <th scope="col">Nombre de Producto</th>
                            <th scope="col">Cantidad de Producto</th>
                            <th scope="col">Precio Unitario</th>
                            <th scope="col">Importe de Producto</th>
                        </tr>
                    </tfoot>
                </table>
                <hr class="my-4">
            </div>
            @*botones*@
            <br />
            <br />
            <br />
        </div>
    </div>
</div>

<script type="text/javascript">
    let ClsVenta;
    $(function () {
        ClsVenta = Objeto.Constructor({
            Funcionalidad: 'INDEX',
            UrlCargaGrid: '@Url.Action("ObtenVentas", "Venta")',
            UrlDetalle: '@Url.Action("ObtenDetalleDeVentas", "Venta")',
            FechaInicialLimite: '@ViewBag.FechaInicialLimite'
        });
        ClsVenta.Inicio();
    });
</script>
