
@{
    ViewBag.Title = "Actualiza Precios";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<script src="~/Scripts/Producto/ClsProducto.js"></script>
<h2 class="TituloPagina">ACTUALIZA PRECIOS DE PRODUCTO  <i class="fa fa-archive"></i></h2>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="from-group from-group-margin">
                @Html.Label("fCodigoONombreDeProducto", "Codigo de Barras o Nombre", new { @class = "col-sm col-form-label" })
                @Html.TextBox("fCodigoONombreDeProducto", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="col"></div>
        <div class="col-sm-12">
            <div id="PreciosProducto"></div>
            <br />
            <br />
            <hr class="my-4">
            @Html.ActionLink("Regresar a la Consulta", "Index", "Producto", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>
<script type="text/javascript">
    let ClsProducto;
    $(function () {
        ClsProducto = Objeto.Constructor({
            Funcionalidad: 'ACTUALIZAPRECIOS',
            UrlAutoCompleteProducto: '@Url.Action("AutoCompleteProducto", "Producto")',
            UrlCargaPrecios: '@Url.Action("CargaTodosLosPrecios", "Producto")',
            UrlPreciosActualizados: '@Url.Action("UrlPreciosActualizados", "Producto")'
        });
        ClsProducto.Inicio();
    });
</script>
