
@{
    ViewBag.Title = "Consulta de Tipos de Producto";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<script src="~/Scripts/TipoDeProducto/ClsTipoDeProducto.js"></script>
<h2 class="TituloPagina">CONSULTA DE TIPOS DE PRODUCTO <i class="fa fa-archive"></i></h2>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table id="Tabla" class="table display nowrap" cellspacing="0" width="100%">
                <thead class="thead-dark">
                    <tr>
                        <th id="NumeroDeTipoDeProducto" scope="col">Número de Marca</th>
                        <th id="NombreDeTipoDeProducto" scope="col">Nombre de Marca</th>
                        <th id="TextoDeEstatus" scope="col">Estatus</th>
                        <th id="boton"></th>
                    </tr>
                </thead>
            </table>
            <br />
            <hr class="my-4">
            @Html.ActionLink("Alta", "Alta", "TipoDeProducto", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Asigna Tipos de Poroductos a Marcas", "Index", "AsignaMarca", new { Origen = "Tipo" }, new { @class = "btn btn-danger" })
            <br />
            <br />
            <br />
        </div>
    </div>
</div>
<script type="text/javascript">
    let ClsTipoDeProducto;
    $(function () {
        ClsTipoDeProducto = Objeto.Constructor({
            Funcionalidad: 'INDEX',
            UrlCargaGrid: '@Url.Action("Json", "TipoDeProducto")',
            UrlDetalle: '@Url.Action("Detalle","TipoDeProducto")',
            CombosParaTabla: [
                "@Html.Raw(ViewBag.TextoDeEstatus)"
            ]
        });
        ClsTipoDeProducto.Inicio();
    });
</script>
